#_1::before{
    background:url('images/army\ of\ theives.jpg');
}
#_2::before{
    background:url(' images/2-movie-poster-design-aladdin-disney-glossy-composite.jpg')
}
#_3::before{
    background:url(' images/annette.jpg')
}
#_4::before{
    background:url('images/avengers\ infinity\ war.jpeg')
}
#_5::before{
    background:url(' images/x-men.jpg')
}
#_6::before{
    background:url(' images/black-panther-web.jpg')
}
#_7::before{
    background:url(' images/captain\ marvel.jpg')
}
#_8::before{
    background:url(' images/jurassic\ park.jpg')
}
#_9::before{
    background:url(' images/spider-man-far-from-home-official-movie-posters_epch.1080.jpg')
}
#_10::before{
    background:url(' images/the-lord-of-the-rings-the-definitive-movie-posters-book-jul-15-2014.webp')
}
#_::before{
    background:url(' images')
}
#_::before{
    background:url(' images')
}
#_::before{
    background:url(' images')
}